<div>
    <h3>Recent Activities</h3>
    <hr>
    {% for message in room_messages %}
    <div>
        <small><a href="{% url 'profile' message.user.id %}">@{{ message.user.username }}</a> -</small>
        <small>{{ message.updated | timesince }} ago</small><br>
        <small>Replied to post "<a href="{% url 'room' message.room.id %}">{{ message.room.name }}</a>"</small>
        <p><b>- {{ message }}</b></p>
        {% if request.user == message.user %}
            <a href="{% url 'update-message' message.id %}">Edit</a>
            <a href="{% url 'delete-message' message.id %}">Delete</a>
        {% endif %}
        <hr>
    </div>
    {% endfor %}
</div>
